.title-container {
    text-align: center; /* Align text to center */
    border-bottom: 1px solid black; /* Thin underline with solid black color */
    margin-bottom: 20px; /* Add some space below the title */
    margin-top: 40px;
}

.title-container h1 {
    display: inline-block; /* Ensure the underline spans the entire width */
    padding-bottom: 5px; /* Adjust the space between the text and underline */
}

.mat-grid-tile{
    margin-top: -100px; ;
}
.example-card{
    width: 100%;
    
}





