<mat-toolbar color="primary" class="custom-toolbar">
  <a routerLink="/home">
    <img src="assets/images/logo1.png" alt="Logo" class="logo">
  </a>

  <span class="toolbar-text-bold">Malaysia</span>
  <span class="spacer"></span>
  <div class="button-container">
    <button mat-button routerLink="/home" class="toolbar-button">Home</button>
    <button mat-button [matMenuTriggerFor]="menu" class="toolbar-button">Product</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/about">Product</button>
      <!-- Add more menu items as needed -->
    </mat-menu>
    <button mat-button routerLink="/about" class="toolbar-button">Product</button>
    <button mat-button routerLink="/about" class="toolbar-button">About Us</button>
    <button mat-raised-button routerLink="/login" class="toolbar-button">Login</button>



    <!-- Add more buttons or components as needed -->
  </div>
</mat-toolbar>


