body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .navbar {
    background-color: white;
    padding-left: 12rem;
    padding-right: 12rem;
  }
  
  .navbar-brand {
    font-size: 2rem;
    padding-right: 1rem;
  }
  
  .navbar-brand img {
    width: 60px;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .nav-search-btn {
    background-color: #2ec3da;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .nav-link {
    margin-right: 1rem;
  }
  
  .login-btn {
    background-color: #7c4dff; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    text-decoration: none;
    width: 5rem;
  }
  
  .nav-search-container {
    width: 30rem;
    min-width: 10rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
  }
  
  .carousel-header-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .btn-book-now {
    background-color: #7c4dff; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    text-decoration: none;
    position: absolute;
    z-index: 2;
    top: 70%;
    left: 45.5%;
    right: 0;
    transition: background-color 0.3s;
    width: 10rem;
    display: inline-block;
  }
  
  .carousel-subheader-text {
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 37%;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .c1 {
    height: 92vh;
  }
  
  .c1 img {
    height: 92vh;
  }
  
  .carousel-inner .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .search-container {
    position: absolute;
    top: 60%;
    left: 20%;
    width: 40rem;
  }
  
  .about-container img {
    width: 40%;
  }
  
  .smalllogo {
    display: block;
    max-width: 15%;
    height: auto;
  }
  
  .page-body {
    background: rgb(50, 44, 153);
    background: linear-gradient(
      320deg,
      rgba(50, 44, 153, 1) 8%,
      rgba(114, 48, 233, 1) 53%,
      rgba(157, 21, 255, 1) 75%
    );
  }
  .is-valid {
    border-color: #28a745; /* Green color */
  }
  
  /* Style for invalid input */
  .is-invalid {
    border-color: #dc3545; /* Red color */
  }
  
  .card-link:focus {
    outline: none;
  }
  
  .side-menu {
    padding: 3rem;
  }
  
  .side-menu a {
    padding: 1rem 1rem;
    display: block;
    color: #495057;
    text-decoration: none;
    transition: color 0.3s ease; /* Add a smooth transition for color change */
  }
  
  .side-menu a:hover {
    color: purple; /* Change text color on hover */
    box-shadow: white !important; /* Remove box shadow on hover */
    background-color: #e9ecef;
  }
  
  .order-listing {
    border-radius: 1.2rem;
  }
  