<div class = "faq-container">
    <div class="title-container">
        <h1>Faq</h1>
    </div>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="custom-title">1. What payment methods do you accept?</span>
              </mat-panel-title>
            
            </mat-expansion-panel-header>
            <p class="custom-text">You can pay with Visa and Mastercard credit and debit cards, and FPX.</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="custom-title">2. Is there an Instalment Payment Plan (IPP) option if I shop online?
                </span>
              </mat-panel-title>
            
            </mat-expansion-panel-header>
            <p class="custom-text">We currently offer IPP installment plan for 6, 12, 24 months for Maybank.

            </p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="custom-title">3. How much would delivery service cost?

                </span>
              </mat-panel-title>
            
            </mat-expansion-panel-header>
            <p class="custom-text">Delivery in WEST MY
                Parcel delivery* RM25 
                Truck delivery RM98
                Zone A RM98
                Zone B RM163
                Zone C RM258
                
                *Order up to a weight of 24 kg, a volume of 84 litres, and a maximum length per item of 1.6 meter.
                
                Delivery in EAST MY
                Parcel delivery (incl. shipment) RM100</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="custom-title">4. How will I know when my order is ready for collection?
                </span>
              </mat-panel-title>
            
            </mat-expansion-panel-header>
            <p class="custom-text">After you have done your online payment, you will receive a confirmation email on the details of your order. 
                Please look out for the email, which would inform you that your 
                items are ready for collection before going to the stipulated store. The regular 
                pick up time is between 10am and 8pm, as mentioned in the email.</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="custom-title">5. How do I return or exchange an item?
                </span>
              </mat-panel-title>
            
            </mat-expansion-panel-header>
            <p class="custom-text">Please contact us, or send us a test message via WhatsApp for assistance. Click here for our Return Policy.
                If you would like to return your products in one of our courts stores, please bring along a printed copy of the tax invoice you received 
                per e-mail after your purchase. Otherwise, we will not be able to process your requests.               
                For returns at our Collection Points in East Malaysia, please contact us, or send us a test 
                message via WhatsApp, so we can provide you with the Return Order (web return) Number. You will need to provide this
                 reference number along with the printed copy of the tax invoice when you drop by the Collection Point.
                For East Malaysia parcel orders, you will be asked to use Return Shipping form provided in the parcel 
                when returning products to us. If you misplace the form, you will need to purchase one at your own expense from the PosLaju branch.                
                For returns of any parcel orders, please contact us, or send us a test message via WhatsApp, to obtain 
                a Return Shipping label which has to be applied to the return parcel before dropping off at the nearest Poslaju branch.</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="custom-title">6. How soon will I receive my refund?
                </span>
              </mat-panel-title>
            
            </mat-expansion-panel-header>
            <p class="custom-text">Refunds will be done via the initial payment mode and may take up to 15 working days. 
                Please note that refund amount is subjected to conditions of the products.</p>
          </mat-expansion-panel>
          
      </mat-accordion>
      
</div>

