<div class = "about-container">
    <div class="title-container">
        <h1>About Us</h1>
    </div>
    <mat-card class="example-card">
        <div class="card-content">
            <img mat-card-image src="/assets/images/a1.jpg" alt="courts photo">
            <mat-card-content>
                <mat-card-title>Courts</mat-card-title>
                <mat-card-subtitle>courts</mat-card-subtitle>
                <p>
                    Nojima APAC Limited (formerly known as COURTS Asia Limited), the holding company for leading 
                    retailers COURTS (Malaysia) Sdn Bhd, COURTS (Singapore) Pte Ltd, PT COURTS Retail Indonesia 
                    and Nojima Cambodia. Wholly owned Nojima Corporation, a leading retailer in Japan. Founded in 
                    1962 and listed on Tokyo Stock Exchange since 2016. Nojima is mainly engaged in the sale of digital, 
                    electrical home appliances, and has a retail chain, operating over 900 stores. A market capitalization 
                    of RM4.3 billion and revenues of RM18.9 billion. COURTS Malaysia opened its door to its customer 
                    since 1987 and today, operates more than 46 stores nationwide. Over the years, the COURTS brand 
                    has expanded its range to include electrical, IT and furniture products, as well as complimentary 
                    home solutions for a seamless one-stop home shopping experience. Constantly innovating to improve
                     the shopping experience, COURTS continuously refreshes its stores to optimise the format, layout
                      and merchandise mix. Proud of our corporate mission, “make aspirational home products easily affordable,
                       COURTS abides by the COURTS Price Promise and is committed to offering competitive prices across 
                       its product range in order to cate to the customers needs.                     
                </p>
              </mat-card-content>
        </div>
    </mat-card>
</div>

