mat-grid-tile {
    background: rgb(255, 255, 255);
    
  }

  .ct{
    padding:80px;
  }

  .title-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      height: auto; /* Let the height adjust automatically for smaller screens */
    }
  }