
<div class="title-container">
    <h1>Shop by category</h1>
  </div>

<div class = "ct">
  <mat-grid-list cols="2" rowHeight="5:2" gutterSize="10px">
         <mat-grid-tile>
          <a routerLink="/your-route">
            <img src="assets/images/c1.jpg" alt="Image description" style="max-width: 100%; height: auto;">
          </a>
          
         </mat-grid-tile>
         <mat-grid-tile>
          <a routerLink="/your-route">
            <img src="assets/images/c2.jpg" alt="Image description" style="max-width: 100%; height: auto;">
          </a>
         </mat-grid-tile>
         <mat-grid-tile>
          <a routerLink="/your-route">
            <img src="assets/images/c3.jpg" alt="Image description" style="max-width: 100%; height: auto;">
          </a>
         </mat-grid-tile>
         <mat-grid-tile>
          <a routerLink="/your-route">
            <img src="assets/images/c4.jpg" alt="Image description" style="max-width: 100%; height: auto;">
          </a>
         </mat-grid-tile>
       </mat-grid-list> 
</div>
