.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 100vh;
  }
  
  .chart-section {
    width: 45%; 
  }
  
  .chart-item {
    width: 100%;
    margin-right: 20px; 
  }
  
  .report-title {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 10px;
  } 

  .chart-section {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
  }
  
  .mat-grid-tile-header {
    background-color: #000000; /* Set background color to white */
    color: #ffffff; /* Text color */
    font-weight: bold; /* Bold text */
    padding: 10px; /* Padding */
  }

  