<div class="container">
  <h1>Register</h1>
  <!-- <p class="text-secondary">Register as Volunteer</p> -->
    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <!-- Email -->
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="registerForm.controls.email.hasError('required')">
          Please enter an email.
        </mat-error>
        <mat-icon matPrefix>mail</mat-icon>
      </mat-form-field>

      <!-- Password -->

      <!-- Confirm Password -->


      <button mat-raised-button type="submit">Register</button>
    </form>
</div>
