<div class="product-container">
    <img [src]="productInfo.image" alt="Product Photo" class="product-image">
    <div class="product-details">
        <h1>{{productInfo.productName}}</h1>
        <p class="product-description">
            {{productInfo.productDetails}}
        </p>
        <h1>RM {{productInfo.productPrice}}</h1>
        <div class="quantity-section">
            <label for="quantity">Quantity:</label>
            <input type="number" [(ngModel)]="quantity" name="quantity" min="1" value="1" class="custom-quantity-input">
        </div>
            <button class="purchase-button" (click)="buy()">Purchase</button>
    </div>
</div>