<div class="form-container">
  <form [formGroup]="addProductForm" (submit)="addProduct()" enctype="multipart/form-data">
    <h3>Add Product</h3>
    
    <!-- Choose Picture -->
    <!-- <label for="fileInput" class="file-label">Choose Picture</label> -->
    <!-- <input type="file" id="fileInput" formControlName="image" accept="image/*" (change)="onFileSelected($event)" class="file-input"> -->

    
    <input type="file" (change)="onFileSelected($event)" hidden #fileInput formControlName="image">
    <button mat-raised-button (click)="fileInput.click()">Choose Image</button>
    <span *ngIf="file" class="ps-2">{{ file.name }}</span>
    <mat-error *ngIf="addProductForm.controls.image.hasError('required')">
      Please select an image
    </mat-error>

    <!-- Product Name -->
    <mat-form-field class="w-100 mt-2" appearance="fill">
      <mat-label>Product Name</mat-label>
      <input type="text" matInput placeholder="Product Name" formControlName="productName" required>
      <mat-error *ngIf="addProductForm.controls.productName.hasError('required')">
        Please enter Product Name
      </mat-error>
    </mat-form-field>

    <!-- Product Details -->
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Product Details</mat-label>
      <input type="text" matInput placeholder="Product Details" formControlName="productDetails" required>
      <mat-error *ngIf="addProductForm.controls.productDetails.hasError('required')">
        Please enter Product Details
      </mat-error>
    </mat-form-field>


    <!-- Price -->
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Price</mat-label>
      <input type="number" matInput placeholder="Price" formControlName="productPrice" required min="0.01" step="0.01">
      <mat-error *ngIf="addProductForm.controls.productPrice.hasError('required')">
        Please enter Price
      </mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" formControlName="productDescription" required></textarea>
      <mat-error *ngIf="addProductForm.controls.productDescription.hasError('required')">
        Please enter Description
      </mat-error>
    </mat-form-field>

    <!-- Number of Products -->
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Number of Products</mat-label>
      <input type="number" matInput placeholder="Number of Products" formControlName="quantity" required min="1">
      <mat-error *ngIf="addProductForm.controls.quantity.hasError('required')">
        Please enter Number of Products
      </mat-error>
    </mat-form-field>

    <!-- Submit Button -->
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</div>