<h2>Find Us</h2>
<div class="map-container">
  <google-map
    height="600px"
    width="1250px"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="moveMap($event)"
    (mapInitialized)="onMapReady($event)"
  >
    <!-- Default markers -->
    <map-marker
      *ngFor="let marker of defaultMarkers"
      [position]="marker"
      [options]="defaultMarkerOptions"
    ></map-marker>
    <!-- Current location marker -->
    <map-marker
      *ngIf="currentLocationMarkerOptions !== null && currentLocation !== null"
      [position]="currentLocation"
      [options]="currentLocationMarkerOptions"
    ></map-marker>
  </google-map>
</div>
