<button mat-button routerLink="/addProduct" class="toolbar-button">Add Product</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Product Image </th>
      <td mat-cell *matCellDef="let product"> 
        <img [src]="product.image" alt="Product Image" style="max-width: 100px; max-height: 100px;"> 
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let product"> {{ product.productName }} </td>
    </ng-container>
  
    <!-- Category Column -->
    <!-- <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let product"> {{ product.category }} </td>
    </ng-container> -->
  
    <!-- Location Column -->
    <!-- <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let product"> {{ product.location }} </td>
    </ng-container> -->
  
    <!-- Price Column -->
    <ng-container matColumnDef="productPrice">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let product"> {{ product.productPrice | currency:'RM' }} </td>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="productDescription">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let product" class="description-cell"> {{ product.productDescription }} </td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let product"> {{ product.quantity }} </td>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let product"> 
        <button mat-icon-button color="primary" title="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" title="Delete" (click)="deleteProduct(product)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

  
    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let product; columns: displayedColumns;"></tr>
</table>
