/* h2 {
    text-align: center;
    margin-top: 20px;
}

.map-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 75vh; 
}


.map-container h2 {
    margin-bottom: 20px; 
} */

  