.product-container {
    padding: 0px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Position relative for absolute positioning of child elements */
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
  .example-viewport {
    width: 100%;
}
p{
    margin-top: 10px;
}