.card-img-top {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card img {
  width: 300px; /* You can adjust this value */
  height: 250px; /* You can adjust this value */
  object-fit: cover;
}

.title {
  padding-top: 10px; /* Add padding to the top of the title */
}

.card {
  width: 100%;
}


.rating {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically */
}

.star {
  font-size: 24px; /* Adjust the size of the stars */
  color: #FFD700; /* Set the color of the stars */
  

}

.rating p {
  margin-left: 5px; /* Add some space between the star and the rating value */
  margin-bottom: 0px;
  font-size: 20px; /* Adjust the size of the stars */

}
.price {
  font-size: 25px; /* Adjust this value for desired font size */
}
