.card-img-top {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card img {
  width: 230px; /* You can adjust this value */
  height: 250px; /* You can adjust this value */
  object-fit: cover;
}

.card {
  width: 100%;
}