
.title-container{

    display: flex;
    justify-content: center; /* horizontally centers the content */
    align-items: center; /* vertically centers the content */
    padding: 20px 150px; /* Add padding around the content */

}.order-list {
    position: relative; /* Set position to relative */
  }
  .order-card {
    position: auto; /* Set position to absolute */
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 300px 20px 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    background-color: #f9f9f9; /* Add background color */
    border-radius: 10px; /* Adjust border radius */
    border: 1px solid #e0e0e0; /* Change border color */


  }
  
  /* Product Image */
  .product-image {
    margin-right: 20px;
  }
  
  .product-image img {
    width: 100px; /* Adjust image size as needed */
    height: auto;
  }
  
  /* Order Details */
  .order-details {
    flex-grow: 1;
  }
  
  .order-details h2 {
    margin: 0 0 5px;
    font-size: 1.2rem;
  }
  
  .order-details p {
    margin: 0;
  }
  
  .order-header {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Add border line */
    padding-bottom: 10px; /* Add padding for separation */
  }
  
  .order-summary {
    margin-bottom: 10px;
  }
  
  .order-item {
    margin-bottom: 5px;
  }
  
  .order-total {
    margin-top: 10px;
  }
  
  /* Order Actions */
  .order-actions {
    margin-top: 20px;
  }
  
  .review-btn,
  .view-receipt-btn {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .review-btn:hover,
  .view-receipt-btn:hover {
    background-color: #0056b3;
  }
  