<div class="title-container">
  <h1>Order History</h1>
</div>

<div class="order-list">
  <div class="order" *ngFor="let order of orders">
    <div class="order-card">
     <div class="product-image">
        <img [src]="order.productImage" alt="Product Image">
      </div>
      <!-- Display order details -->
      <div class="order-details">
        <div class="order-header">
          <h2>Order #{{ order._id }}</h2>
          <p>Date: {{ order.created_date | date }}</p>
        </div>
        <div class="order-summary">
          <div class="order-item">
            <p>Product ID: {{ order.product_id }}</p>
            <p>Quantity: {{ order.quantity }}</p>
            <p>Total Amount: RM {{ order.total_amount }}</p>
            <p>Status: {{ order.status }}</p>
            <!-- Add more order details as needed -->
          </div>
        </div>
        <div class="order-actions">
          <button class="review-btn" (click)="submitReview(order)">Review</button>
          <button class="view-receipt-btn" (click)="viewReceipt(order)">View Receipt</button>
        </div>
      </div>
    </div>
  </div>
</div>
