<footer class="footer">
  <div class="content">
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile>
        <div>
          <h6 class="text-uppercase fw-bold"><img src="assets/images/logo.png" class="smalllogo" alt="..."></h6>
          <p class="fw-bold">
            Courts Malaysia
          </p>        
          <br>
          Trusted Furniture
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div >
          <h6 class="text-uppercase fw-bold">Products</h6>
          <p>
            <a routerLink="/tables-desks" class="text-white">Tables & desks</a>
          </p>
          <p>
            <a routerLink="/sofas" class="text-white">Sofas</a>
          </p>
          <p>
            <a routerLink="/wardrobes" class="text-white">Wardrobes</a>
          </p>
          <p>
            <a routerLink="/chairs" class="text-white">Chairs</a>
          </p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>  
        <div>
          <h6 class="text-uppercase fw-bold">Quick Links</h6>
          <p>
            <a routerLink="/faq" class="text-white">FAQ</a>
          </p>
          <p>
            <a routerLink="/contact" class="text-white">Contact Us</a>
          </p>
          <p>
            <a routerLink="/about" class="text-white">About Us</a>
          </p>
          <p>
            <a routerLink="/about" class="text-white">Location</a>
          </p>
        </div>
      </mat-grid-tile>
    
      <mat-grid-tile>
        <div>
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <p> Tower 3, Brunsfield Oasis, Oasis Square, Jalan PJU 1A/7A,</p>
          <p> Oasis Ara Damansara, 47301 Petaling Jaya, Selangor</p>
          <p> courtsmalaysia.com</p>
          <p> +60 111222333</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</footer>
